In [3]:
import pandas as pd

In [4]:
#read file
df=pd.read_csv('studentsdata.csv')
df

,Gender,Age,Education Level,Institution Type,IT Student,Location,Load-shedding,Financial Condition,Internet Type,Network Type,Class Duration,Self Lms,Device,Adaptivity Level
0,Boy,21-25,University,Non Government,No,Yes,Low,Mid,Wifi,4G,3-6,No,Tab,Moderate
1,Girl,21-25,University,Non Government,No,Yes,High,Mid,Mobile Data,4G,1-3,Yes,Mobile,Moderate
2,Girl,16-20,College,Government,No,Yes,Low,Mid,Wifi,4G,1-3,No,Mobile,Moderate
3,Girl,11-15,School,Non Government,No,Yes,Low,Mid,Mobile Data,4G,1-3,No,Mobile,Moderate
4,Girl,16-20,School,Non Government,No,Yes,Low,Poor,Mobile Data,3G,0,No,Mobile,Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1200,Girl,16-20,College,Non Government,No,Yes,Low,Mid,Wifi,4G,1-3,No,Mobile,Low
1201,Girl,16-20,College,Non Government,No,No,High,Mid,Wifi,4G,3-6,No,Mobile,Moderate
1202,Boy,11-15,School,Non Government,No,Yes,Low,Mid,Mobile Data,3G,1-3,No,Mobile,Moderate
1203,Girl,16-20,College,Non Government,No,No,Low,Mid,Wifi,4G,1-3,No,Mobile,Low
1204,Girl,11-15,School,Non Government,No,Yes,Low,Poor,Mobile Data,3G,1-3,No,Mobile,Moderate

In [19]:
df.head(1)

,Gender,Age,Education Level,Institution Type,IT Student,Location,Load-shedding,Financial Condition,Internet Type,Network Type,Class Duration,Self Lms,Device,Adaptivity Level
0,Boy,21-25,University,Non Government,No,Yes,Low,Mid,Wifi,4G,3-6,No,Tab,Moderate

In [22]:
df.count()

Gender                 1205
Age                    1205
Education Level        1205
Institution Type       1205
IT Student             1205
Location               1205
Load-shedding          1205
Financial Condition    1205
Internet Type          1205
Network Type           1205
Class Duration         1205
Self Lms               1205
Device                 1205
Adaptivity Level       1205
dtype: int64

In [24]:
df.count().sum()

16870

In [56]:
df.isnull().sum()

Gender                 0
Age                    0
Education Level        0
Institution Type       0
IT Student             0
Location               0
Load-shedding          0
Financial Condition    0
Internet Type          0
Network Type           0
Class Duration         0
Self Lms               0
Device                 0
Adaptivity Level       0
dtype: int64

In [38]:
df.describe()

,Gender,Age,Education Level,Institution Type,IT Student,Location,Load-shedding,Financial Condition,Internet Type,Network Type,Class Duration,Self Lms,Device,Adaptivity Level
count,1205,1205,1205,1205,1205,1205,1205,1205,1205,1205,1205,1205,1205,1205
unique,2,6,3,2,2,2,2,3,2,3,3,2,3,3
top,Boy,21-25,School,Non Government,No,Yes,Low,Mid,Mobile Data,4G,1-3,No,Mobile,Moderate
freq,663,374,530,823,901,935,1004,878,695,775,840,995,1013,625

In [46]:
df.columns

Index(['Gender', 'Age', 'Education Level', 'Institution Type', 'IT Student',
       'Location', 'Load-shedding', 'Financial Condition', 'Internet Type',
       'Network Type', 'Class Duration', 'Self Lms', 'Device',
       'Adaptivity Level'],
      dtype='object')

In [55]:
#column selection
df[['Age','Device']]

        Age  Device
0     21-25     Tab
1     21-25  Mobile
2     16-20  Mobile
3     11-15  Mobile
4     16-20  Mobile
...     ...     ...
1200  16-20  Mobile
1201  16-20  Mobile
1202  11-15  Mobile
1203  16-20  Mobile
1204  11-15  Mobile

[1205 rows x 2 columns]

In [4]:
df['Network Type'].value_counts()

4G    775
3G    411
2G     19
Name: Network Type, dtype: int64

In [5]:
df['Education Level'].value_counts()

School        530
University    456
College       219
Name: Education Level, dtype: int64

In [7]:
df['Age'].value_counts()

21-25    374
11-15    353
16-20    278
1-5       81
26-30     68
6-10      51
Name: Age, dtype: int64

In [8]:
df['Gender'].value_counts()

Boy     663
Girl    542
Name: Gender, dtype: int64

In [6]:
df.head(2)

,Gender,Age,Education Level,Institution Type,IT Student,Location,Load-shedding,Financial Condition,Internet Type,Network Type,Class Duration,Self Lms,Device,Adaptivity Level
0,Boy,21-25,University,Non Government,No,Yes,Low,Mid,Wifi,4G,3-6,No,Tab,Moderate
1,Girl,21-25,University,Non Government,No,Yes,High,Mid,Mobile Data,4G,1-3,Yes,Mobile,Moderate

In [9]:
#fitst 3 rows
df.iloc[0:4]

,Gender,Age,Education Level,Institution Type,IT Student,Location,Load-shedding,Financial Condition,Internet Type,Network Type,Class Duration,Self Lms,Device,Adaptivity Level
0,Boy,21-25,University,Non Government,No,Yes,Low,Mid,Wifi,4G,3-6,No,Tab,Moderate
1,Girl,21-25,University,Non Government,No,Yes,High,Mid,Mobile Data,4G,1-3,Yes,Mobile,Moderate
2,Girl,16-20,College,Government,No,Yes,Low,Mid,Wifi,4G,1-3,No,Mobile,Moderate
3,Girl,11-15,School,Non Government,No,Yes,Low,Mid,Mobile Data,4G,1-3,No,Mobile,Moderate

In [5]:
#number of unique element in each index
df.nunique()

Gender                 2
Age                    6
Education Level        3
Institution Type       2
IT Student             2
Location               2
Load-shedding          2
Financial Condition    3
Internet Type          2
Network Type           3
Class Duration         3
Self Lms               2
Device                 3
Adaptivity Level       3
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1205 entries, 0 to 1204
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Gender               1205 non-null   object
 1   Age                  1205 non-null   object
 2   Education Level      1205 non-null   object
 3   Institution Type     1205 non-null   object
 4   IT Student           1205 non-null   object
 5   Location             1205 non-null   object
 6   Load-shedding        1205 non-null   object
 7   Financial Condition  1205 non-null   object
 8   Internet Type        1205 non-null   object
 9   Network Type         1205 non-null   object
 10  Class Duration       1205 non-null   object
 11  Self Lms             1205 non-null   object
 12  Device               1205 non-null   object
 13  Adaptivity Level     1205 non-null   object
dtypes: object(14)
memory usage: 131.9+ KB

In [7]:
df["Gender"].unique()

array(['Boy', 'Girl'], dtype=object)

In [22]:
# Applying a Function Over All Elements in a Column
def change1(input_data):
    list1=[]
    if input_data=="Boy":
        list1.append("Male")
    else:
        list1.append("Female")

    return list1

In [15]:
df["new_gender"]=df["Gender"].apply(change1)

In [17]:
df["new_gender"][1:10]

1    [Female]
2    [Female]
3    [Female]
4    [Female]
5      [Male]
6      [Male]
7      [Male]
8      [Male]
9      [Male]
Name: new_gender, dtype: object

In [33]:
#rename column name
df.rename(columns={'Gender': 'Gender1'}).head(2)

,Gender1,Age,Education Level,Institution Type,IT Student,Location,Load-shedding,Financial Condition,Internet Type,Network Type,Class Duration,Self Lms,Device,Adaptivity Level,new_gender
0,Boy,21-25,University,Non Government,No,Yes,Low,Mid,Wifi,4G,3-6,No,Tab,Moderate,[Male]
1,Girl,21-25,University,Non Government,No,Yes,High,Mid,Mobile Data,4G,1-3,Yes,Mobile,Moderate,[Female]

In [35]:
df["Gender"].value_counts()

Boy     663
Girl    542
Name: Gender, dtype: int64

In [39]:
#Group by
df.groupby('Gender')

In [41]:
df.groupby('Gender')["Age"].count()

Gender
Boy     663
Girl    542
Name: Age, dtype: int64

In [42]:
import numpy as np

In [51]:
df2=pd.DataFrame(np.random.randint(1,50,20), columns=["id"])

In [59]:
df3=pd.DataFrame(np.random.randint(1,100,20), columns=["id2"])

In [63]:
pd.concat([df2,df3], axis=1)

    id  id2
0   46   61
1   30   12
2   35    1
3   35   88
4   25   41
5   34   50
6   22   74
7   40   69
8    5   18
9   28   94
10   5   83
11  24   94
12  17   21
13  45    1
14  13   96
15   4    7
16  35   42
17   3   79
18  22    2
19  38   92