In [20]:
import pandas as pd
import matplotlib as plt

In [4]:
df=pd.read_csv("studentsdata.csv")

In [6]:
#convert your data into pickle format it is secure and can not read easly
df2=df.to_pickle("studentdata_to_pickle_format")

In [25]:
df.head()

,Gender,Age,Education Level,Institution Type,IT Student,Location,Load-shedding,Financial Condition,Internet Type,Network Type,Class Duration,Self Lms,Device,Adaptivity Level
0,Boy,21-25,University,Non Government,No,Yes,Low,Mid,Wifi,4G,3-6,No,Tab,Moderate
1,Girl,21-25,University,Non Government,No,Yes,High,Mid,Mobile Data,4G,1-3,Yes,Mobile,Moderate
2,Girl,16-20,College,Government,No,Yes,Low,Mid,Wifi,4G,1-3,No,Mobile,Moderate
3,Girl,11-15,School,Non Government,No,Yes,Low,Mid,Mobile Data,4G,1-3,No,Mobile,Moderate
4,Girl,16-20,School,Non Government,No,Yes,Low,Poor,Mobile Data,3G,0,No,Mobile,Low

In [34]:
df.dtypes

Gender                 object
Age                    object
Education Level        object
Institution Type       object
IT Student             object
Location               object
Load-shedding          object
Financial Condition    object
Internet Type          object
Network Type           object
Class Duration         object
Self Lms               object
Device                 object
Adaptivity Level       object
dtype: object

In [35]:
df.describe()

,Gender,Age,Education Level,Institution Type,IT Student,Location,Load-shedding,Financial Condition,Internet Type,Network Type,Class Duration,Self Lms,Device,Adaptivity Level
count,1205,1205,1205,1205,1205,1205,1205,1205,1205,1205,1205,1205,1205,1205
unique,2,6,3,2,2,2,2,3,2,3,3,2,3,3
top,Boy,21-25,School,Non Government,No,Yes,Low,Mid,Mobile Data,4G,1-3,No,Mobile,Moderate
freq,663,374,530,823,901,935,1004,878,695,775,840,995,1013,625

In [39]:
import requests

In [46]:
df1=pd.read_json('https://api.github.com/repos/pandas-dev/pandas/issues')

In [47]:
df1.head()

,url,repository_url,labels_url,comments_url,events_url,html_url,id,node_id,number,title,...,closed_at,author_association,active_lock_reason,body,reactions,timeline_url,performed_via_github_app,state_reason,draft,pull_request
0,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/47134,1250311038,I_kwDOAA0YD85Khjt-,47134,DOC: how to_datetime %S differs from strptime,...,NaT,CONTRIBUTOR,NaN,### Pandas version checks\r\n\r\n- [X] I have ...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
1,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/pull/47133,1250191166,PR_kwDOAA0YD844jcC7,47133,Remove ctime.pyx,...,NaT,MEMBER,NaN,"Now that we support zoneinfo, the original mot...",{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,0.0,{'url': 'https://api.github.com/repos/pandas-d...
2,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/47132,1250149297,I_kwDOAA0YD85Kg8Ox,47132,BUG: Series.corr() returns nan for identical S...,...,NaT,CONTRIBUTOR,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
3,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/47130,1249792077,I_kwDOAA0YD85KflBN,47130,ENH: Add is_dst attribute to DatetimeIndex,...,NaT,CONTRIBUTOR,NaN,#### Is your feature request related to a prob...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN
4,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://api.github.com/repos/pandas-dev/pandas...,https://github.com/pandas-dev/pandas/issues/47128,1249491916,I_kwDOAA0YD85KebvM,47128,BUG: RangeIndex problem,...,NaT,NONE,NaN,### Pandas version checks\n\n- [X] I have chec...,{'url': 'https://api.github.com/repos/pandas-d...,https://api.github.com/repos/pandas-dev/pandas...,NaN,NaN,NaN,NaN

In [51]:
df1.dtypes

url                                      object
repository_url                           object
labels_url                               object
comments_url                             object
events_url                               object
html_url                                 object
id                                        int64
node_id                                  object
number                                    int64
title                                    object
user                                     object
labels                                   object
state                                    object
locked                                     bool
assignee                                 object
assignees                                object
milestone                                object
comments                                  int64
created_at                  datetime64[ns, UTC]
updated_at                  datetime64[ns, UTC]
closed_at                        datetime64[ns]
author_association                       object
active_lock_reason                      float64
body                                     object
reactions                                object
timeline_url                             object
performed_via_github_app                float64
state_reason                            float64
draft                                   float64
pull_request                             object
dtype: object

In [52]:
df1.describe()

,id,number,comments,active_lock_reason,performed_via_github_app,state_reason,draft
count,3.000000e+01,30.00000,30.000000,0.0,0.0,0.0,15.000000
mean,1.247740e+09,47113.50000,1.600000,NaN,NaN,NaN,0.066667
std,1.508067e+06,11.80225,1.792706,NaN,NaN,NaN,0.258199
min,1.244734e+09,47094.00000,0.000000,NaN,NaN,NaN,0.000000
25%,1.246742e+09,47103.50000,0.000000,NaN,NaN,NaN,0.000000
50%,1.247799e+09,47112.50000,1.000000,NaN,NaN,NaN,0.000000
75%,1.248830e+09,47123.25000,2.000000,NaN,NaN,NaN,0.000000
max,1.250311e+09,47134.00000,7.000000,NaN,NaN,NaN,1.000000